*{
    box-sizing: border-box;
    top: 0;
    left: 0;
    margin: 0;
    bottom: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 13px;
    margin-left: 25px;
}
.logo h1{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.logo a:hover{
    text-decoration: none;
}
.logo img{
    height: 40px;
}
nav{
    background-color: #1E3A8A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 100%;
    position: sticky;
}
ul{
    display: flex;
    gap: 60px;
    margin-right: 40px;
    align-items: center;
}
ul li{ 
    list-style: none;
}
nav button{
    background-color: #F97316;
    border: none;
    border-radius: 30px;
    padding: 15px;
    font-size: 1rem;
    color: white;
    margin-right: 10px;

}
.nav-txt{
    display: flex;
}
ul li a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.5s;
}
a:hover{
    color: #F97316;
}
a.active{
    color: #F97316;
}
#About{
    display: flex;
    height: 90vh;
    width: 78%;
    align-items: center;
    flex-direction: row-reverse;
    gap: 120px;
}
.AbIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 23px;
    margin-bottom: 20px;
}
.AbIntro h1{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    color: #1E3A8A;
    animation: slide2 1s linear;
}
.AbIntro p{
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: #1E3A8A;
    animation: slide2 1.1s linear;
}
.AbBtn{
    display: flex;
    gap: 20px;
    margin-top: 15px;
    animation: slide2 1.2s linear;
}
.AbBtn button{
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 10px;
    width: 30%;
    height: 50px;
    color: white;
    outline: none;
    border: none;
    transition: transform 0.5s;
}
.AbBtn button:hover{
    transform: scale(1.05);
}
.AbBtn button:active{
    transform: scale(0.9);
}
.AbLearn{
    background-color: #F97316;
}
.learn{
    background-color: #1E3A8A;
}
.Abillustration img{
    height: 60vh;
    animation: slide 1.1s linear;
}
section{
    display: flex;
    height: 91vh;
    width: 100%;
    align-items: center;
    padding: 100px 0px 10px;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.intro h1{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    color: #1E3A8A;
    width: 75%;
    animation: slide 1s linear;
}
.intro p{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: #1E3A8A;
    width: 70%;
    animation: slide 1.1s linear;
}
.btn{
    display: flex;
    gap: 20px;
    margin-top: 15px;
    animation: slide 1.2s linear;
}
.btn button{
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 10px;
    width: 23%;
    height: 50px;
    color: white;
    outline: none;
    border: none;
    transition: transform 0.5s;
}
.btn button:hover{
    transform: scale(1.05);
}
.btn button:active{
    transform: scale(0.9);
}
.start{
    background-color: #F97316;
}
.learn{
    background-color: #1E3A8A;
}
.illustration img{
    height: 70vh;
    animation: slide2 1.1s linear;
}
.cards{
    display: flex; 
    flex-wrap: wrap;
    gap: 50px;
}
.card1{
      border-radius: 12px;
      box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
      overflow: hidden;
      width: 300px;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 15px;
      gap: 10px;
      transition: transform 0.5s;
}
.card1:hover{
    transform: scale(1.03);
}
.des{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.des h2{
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
}
.des p{
    font-family: "DM Sans", sans-serif;
    color: #6B7280;
}
.des button{
    background-color: #F97316;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px;
    margin-top: 8px;
    transition: transform 0.5s;
    height: 35px;
}
.des button:hover{
    transform: scale(1.05);
}
.des button:active{
    transform: scale(0.9);
}
#ser{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#ser h1{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #1E3A8A;
    font-size: 2.5rem;

}
#c1{
    animation: slideDown 1.2s linear;
}
#c2{
    animation: slideUp 1.2s linear;
}
#c3{
    animation: slideDown 1.2s linear;
}
#home{
    width: 91%;
}
.dropdown {
    position: relative;
}
.dropdown-btn {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: #F97316;
    color: white;
    border: none;
    border-radius: 0px;
    padding: 10px;
    cursor: pointer;
    width: 119%;
    font-size: 1.1rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    width: 119%;
}
.dropdown-content a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    background-color: white;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.faqCon{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        gap: 50px;
    }
.Head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px 30px;
}
.Head img{
    height: 280px;
}
.headCon{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: nowrap;
}
.headCon h1{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    color: #1E3A8A;
    }
.headCon p{
    width: 80%;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    word-spacing: 10px;
    color: #374151;
}
.question{
    display: flex; 
    flex-wrap: nowrap;
    width: 100%;
    gap:50px;
    justify-content: center;
}
.g1, .g2, .g3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
details {
    background: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease;
}
summary {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
summary::after {
    content: "▾";
    font-size: 1rem;
    transition: transform 0.3s ease;
}
details[open] summary::after {
    transform: rotate(180deg);
}
details p {
    margin-top: 1rem;
    font-size: 0.95rem;
    line-height: 1.5;
    color: #333;
}
details a {
    color: #7b61ff;
    text-decoration: none;
}
details a:hover {
    text-decoration: underline;
}
#faq{
    display: flex;
    align-items: flex-start;
    height: 100vh;
}
@keyframes slide{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slide2{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideDown{
    from{
        opacity: 0;
        transform: translateY(-25px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideUp{
    from{
        opacity: 0;
        transform: translateY(25px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@media screen and (max-width:700px){
    body::-webkit-scrollbar{
        display: none;
    }
    ul{
        display: none;
        margin-left: 0px;
    }
    #home{
        flex-direction: column;
        align-items: center;
        height: 100vh;
        gap: 50px;
    }
    #ser{
        height: 100vh;
        margin-top: 550px;
    }
    .intro{
        align-items: center;
    }
    .intro h1{
        text-align: center;
        font-size: 3rem;
        width: auto;
    }
    .intro p{
        text-align: center;
        font-size: 1.2rem;
        width: auto;
    }
    .cards{
        flex-direction: column;
    }
    #About{
        flex-direction: column;
        height: 100vh;
        margin-top: 350px;
        text-align: center;
        gap: 50px;
    }
    .AbIntro{
        gap: 40px;
        align-items: center;
    }
    .AbIntro h1{
        font-size: 2.5rem;
        width: auto;
    }
    .AbIntro p{
        font-size: 1rem;
    }
    .AbBtn button{
        width: 300px;
    }
    .Head{
        flex-direction: column;
        gap: 50px;
    }
    .Head img{
        height: 115px;
    }
    .question{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .btn{
        flex-direction: column;
    }
    .btn button{
        width: 250px;
    }
    .illustration img{
        height: 300px;
    }
    .Abillustration img{
        height: 300px;
    }
    .headCon{
        width: 100%;
    }
    .headCon p{
        text-align: center;
        font-size: 1.2rem;
        width: 100%;
    }
    #faq{
        flex-direction: column;
        height: 100vh;
        margin-top: 205px;
        text-align: center;
        gap: 50px;
        align-items: center;
    }
}