body{
    background-image: url("images/Gemini_Generated_Image_6x517g6x517g6x51.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
    caret-color: transparent; 
}
img{
    height: auto;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 400px;
}
#vs{
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 6em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #4a95e0;
  text-shadow:
    -1px -1px 0 #e3e8f2,
    1px -1px 0 #e3e8f2,
    -1px 1px 0 #e3e8f2,
    1px 1px 0 #e3e8f2,
    0 0 10px rgba(102, 153, 255, 0.7);
}
.playerscores{
    display: flex;
    gap: 21px;
}
.playerscores div{
    padding: 10px;
    width: 200px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
#scoreP{
    background-color: #2e86de;
    border: 3px solid #e3e8f2;
    box-shadow: 0 0 15px 5px rgba(102, 153, 255, 0.7);
}
#scoreC{
    background-color: #8c959e;
    border: 3px solid #e3e8f2;
    box-shadow: 0 0 15px 5px rgba(102, 153, 255, 0.7);
}
#choices{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
    position: absolute;
    top:55%;
}
#chImg{
    display: flex;
    gap: 50px;
}
#chImg img{
    max-width: 200px;
    background-color: #2e86de;
    border: 3px solid #e3e8f2;
    box-shadow: 0 0 15px 5px rgba(102, 153, 255, 0.7);
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.5s;
}
#chImg img:hover{
    transform: scale(1.08);
}
#wins{
    text-shadow:
    -1px -1px 0 #5e7fc2,
    1px -1px 0 #5e7fc2,
    -1px 1px 0 #5e7fc2,
    1px 1px 0 #5e7fc2,
    0 0 10px rgba(102, 153, 255, 0.7);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 15%;
}
.playerVsCom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 28%;
}
.playerVsCom h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
.playerVsCom img{
    max-width: 400px;
}
.rotateP img{
    transform: rotate(-10deg);
    animation: none;
}
.rotateC{
    transform: rotateY(180deg);
}
.rotateC img{
    animation: none;
}
#ag{
    padding: 20px;
    border: 3px solid #e3e8f2;
    box-shadow: 0 0 15px 5px rgba(102, 153, 255, 0.7);
    border-radius: 8px;
    background-color: #2e86de;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 75%;
    display: none;
}
#ag:hover{
    background-color: rgba(43, 105, 230, 0.877);
}
@media screen and (max-width:1050px){
    .playerVsCom{
        gap: 50px;
    }
    .playerVsCom img{
    max-width: 100px;
    }
    #ag{
        top: 68%;
    }
    #chImg{
        top: 45%;
    }
    #chImg img{
        max-width: 120px;
        padding: 10px;
    }
}
@media screen and (max-width:565px){
    .playerVsCom{
        gap: 15px;
    }
    #vs{
        font-size: 3rem;
    }
    .playerVsCom img{
    max-width: 130px;
    }
    .playerscores{
        flex-direction: column;
    }
    #ag{
        top: 68%;
        border-radius: 0;
        padding: 10px 20px 10px 20px;
    }
    #choices{
        top: 45%;
    }
    #chImg{
        gap: 20px;
    }
    #chImg img{
        max-width: 80px;
        padding: 10px;
    }
}
@keyframes batopick{
    0%   { transform: rotate(-10deg); }
    50%  { transform: rotate(40deg); }
    100% { transform: rotate(-10deg); }
}
@keyframes batopick2{
    0%   { transform: rotate(-10deg); }
    50%  { transform: rotate(40deg); }
    100% { transform: rotate(-10deg); }
}