*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: auto;
}


/* LOG IN */

.admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100vh;
}

.titleLog{
    font-size: 2.8em;
    font-weight: bold;
    color: blueviolet;
    display: flex;
    gap: 20px;
}

#loginForm{
    background-color: white;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: min(400px, 90%);
    gap: 30px;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro span{
    color: gray;
}

.introTitle{
    font-size: 2em;
    font-weight: 600;
    color: blueviolet;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.inputs input{
    font-size: 1.3em;
    border-radius: 5px;
    padding: 5px 8px;
    border: 1px solid gray;
}
.inputs input:focus{
    outline: 1px solid blueviolet;

}

.check{
    display: flex;
    gap: 10px;
}
#log{
    font-size: 1.3em;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: blueviolet;
    padding: 5px 10px;
    color: white;
}

#log:hover{
    background-color: rgba(137, 43, 226, 0.875);
}
#log:active{
    background-color: rgba(137, 43, 226, 0.814);
}

/* HERE */

.container{
    display: flex;
    flex-wrap: wrap;
}

.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
    gap: 40px;
    padding: 20px 0px;
    border: 1px solid rgba(128, 128, 128, 0.296);
}
.title{
    font-size: 2em;
    font-weight: bold;
    padding: 0px 30px;
    color: blueviolet;
    display: flex;
    align-items: center;
    gap: 10px;
}
nav{
    width: 100%;
}
#burger{
    display: none;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
li{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    cursor: pointer;
}
li a{
    display: flex;
    text-decoration: none;
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    gap: 10px;
    align-items: center;
}
li a:hover{
    background-color: rgba(137, 43, 226, 0.113);
}
li a img{
    height: 80%;
}
li a span{
    font-weight: 600;
    font-size: 1.3em;
    color: black;
}

.main{
    flex: 5;
    background-color: #f2f2f2cb;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    overflow: auto;
    min-width: 0;
    max-width: 100%;
}
.main-container{
    width: 95%;
    min-width: 0;
    max-width: 100%;
}

#dashboard{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.dashboard-greetings{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dashboard-title{
    font-size: 1.5em;
    font-weight: 600;
    color: blueviolet;
}
.greet{
    font-size: 1.5em;
    color: gray;
}
.cards{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.card{
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.296);
    padding: 30px;
    background-color: white;
    gap: 10px;
    flex: 1;
    border-radius: 8px;
    border-top: 3px solid blueviolet;
    width: 100%;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}
.content-title{
    color: gray;
}
.icon{
    flex: 1;
    display: flex;
    justify-content: end;
}
.icon img{
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}
#icon1 img{
    background-color: rgba(128, 128, 128, 0.23);
}
#icon2 img{
    background-color: rgba(12, 230, 12, 0.16);
}
#icon3 img{
    background-color: #ffaa002a;
}
#icon4 img{
    background-color: rgba(12, 230, 12, 0.16);
}
.value{
    font-size: 2em;
}

.charts{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.chart-box{
    flex: 1;
    width: min(300px, 100%);
    height: 450px;
    border: 1px solid rgba(128, 128, 128, 0.296);
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}
.chart-box1{
    flex: 1;
    width: min(300px, 100%);
    height: 450px;
    border: 1px solid rgba(128, 128, 128, 0.296);
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}
.chart-box canvas{
    width: 100%;
    height: 100%;
}
.chart-title{
    font-size: 1.3em;
    font-weight: 500;
}
.chartDesc{
    color: gray;
}
.chart{
    height: 100%;
}
/* PRODUCTION */

#production{
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 20px;
    min-width: 0;
    max-width: 100%;
}
.production-title, .sales-title, .expenses-title{
    font-size: 1.5em;
    font-weight: 600;
    color: blueviolet;
}

.production-contents, .sales-contents, .expenses-contents{
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.296);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    gap: 10px;
    min-width: 0;
    max-width: 100%;
}
.production-bar, .sales-bar, .expenses-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
.table-title{
    flex: 8;
}
.table-title span{
    font-size: 1.5em;
}
.production-btn, .sales-btn, .expenses-btn{
    flex: 1;
}

.production-btn button{
    font-size: 1.5em;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
}
.production-btn button:hover{
    background-color: rgba(137, 43, 226, 0.873);
}
.production-table{
    overflow-x: auto;
    width: 100%;
}
.production-table table{
    width: 100%;
    border-collapse: collapse;
}
.production-table thead{
    background-color: blueviolet;
    color: white;
}
.production-table th,
.production-table td{
    border: 1px solid gray;
    padding: 10px;
    white-space: nowrap;
}
#addEggForm, #addSalesForm, #addExpensesForm{
    position: fixed;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.296);
    width: 90%;
    max-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: none;
    flex-direction: column;
    border-radius: 5px;
}
#date-collected, #sales-date, #expenses-date{
    width: auto;
    font-size: 1em;
    padding: 5px;
    margin-bottom: 10px;
}
.production-date, .sales-date, .expenses-date{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-buttons{
    display: flex;
    gap: 10px;
    width: 100%;
}
.form-buttons button{
    font-size: 1em;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    flex: 1;
}
.form-title{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 25px;
}
#updateEgg, #updateSales, #updateExpenses{
    display: flex;
    align-items: center;
    justify-content: center;
}
#submitEgg, #submitSales, #submitExpenses{
    display: flex;
    align-items: center;
    justify-content: center;
}
#submitEgg, #submitSales, #submitExpenses, #updateEgg, #updateSales, #updateExpenses{
    background-color: blueviolet;
}
#cancelProduction, #cancelSales, #cancelExpenses{
    border: 1px solid blueviolet;
    color: blueviolet;
    background-color: transparent;
}
#overlay, #overlay2, #overlay3{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.42);
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    display: none;
}
.production-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.production-inputs input{
    font-size: 1em;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.169);
    border-radius: 5px;
    border: none;
}
#actions{
    display: flex;
    border: none;
    gap: 10px;
}
#actions button{
    flex: 1;
    font-size: 1em;
    padding: 3px;
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    max-width: 100px;
}
.update{
    background-color: rgb(0, 179, 255);
}
.delete{
    background-color: red;
}

/* SALES */

#sales{
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 20px;
    min-width: 0;
    max-width: 100%;

}
.sales-btn button{
    font-size: 1.5em;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
}
.sales-btn button:hover{
    background-color: rgba(137, 43, 226, 0.873);
}
.sales-table{
    overflow-x: auto;
    width: 100%;
}
.sales-table table{
    width: 100%;
    border-collapse: collapse;
}
.sales-table thead{
    background-color: blueviolet;
    color: white;
}
.sales-table tr, 
.sales-table td{
    border: 1px solid gray;
    padding: 10px;
    white-space: nowrap;
}
#addSalesForm{
    gap:15px;
}
.sales-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;     
}
#trays-inputs{
    display: none;
    flex-direction: column;
    gap: 10px;   
}
#pieces-inputs{
    display: none;
    flex-direction: column;
    gap: 10px;   
}
.sales-inputs input{
    font-size: 1em;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.169);
    border-radius: 5px;
    border: none;
}
.sizeChoose, .buyType{
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.sizeChoose select, .buyType select{
    width: 100%;
    font-size: 1em;
    padding: 5px;
}

/* EXPENSES */

#expenses{
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 20px;
    min-width: 0;
    max-width: 100%;

}
.expenses-btn button{
    font-size: 1.5em;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
}
.expenses-btn button:hover{
    background-color: rgba(137, 43, 226, 0.873);
}
.expenses-table{
    overflow-x: auto;
    width: 100%;
}
.expenses-table table{
    width: 100%;
    border-collapse: collapse;
}
.expenses-table thead{
    background-color: blueviolet;
    color: white;
}
.expenses-table tr, 
.expenses-table td{
    border: 1px solid gray;
    padding: 10px;
    white-space: nowrap;
}
#addExpensesForm{
    gap:15px;
}
.expenses-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;     
}
.expenses-inputs input{
    font-size: 1em;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.169);
    border-radius: 5px;
    border: none;
}
.categoryies{
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.categoryies select{
    width: 100%;
    font-size: 1em;
    padding: 5px;
}

@media screen and (max-width: 1200px) {
    body{
        overflow: auto;
    }
    .container{
        flex-direction: column;
    }
    .sidebar, ul{
        flex-direction: row;
    }
    ul{
        gap: 0px;
    }
    li{
        align-items: center;
    }
    li a{
        justify-content: center;
    }
}
/* s */
@media screen and (max-width: 850px) {
    nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: white;
        left: 50%;
        top: 10%;
        transform: translate(-50%);
        width: 100%;
        color: white;
        border: 1px solid gray;
        gap: 15px;
        padding: 20px 0px;
    }
    body{
        overflow-y: auto;

    }
    .sidebar{
        justify-content: space-between;
    }
    #burger{
        display: flex;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0px 40px;
    }
}

@media screen and (max-width: 500px) {

    .sidebar{
        gap: 0px;
    }
    .title{
        font-size: 1.5em;
    }
}