@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Roboto&family=Schoolbell&display=swap');


*{
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
}
#quotes{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    
}
#generate{
    border-radius: 10px;
    font-size: 1.2rem;
    outline: none;
    width: 120px;
    border: none;
    color: white;
    font-weight: bold;
    transition: transform 0.5s;
}
#generate:hover{
    transform: scale(1.05);
}
#generate:active{
    transform: scale(0.9);
}
#authors{
    font-size: 1rem;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    color: gray;
}
#add{
    padding: 18px;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 120px;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    transition: transform 0.5s;
}
#add:hover{
    transform: scale(1.05);
}
#add:active{
    transform: scale(0.9);
}
.btn-group{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.add{
    background-color: rgba(215, 231, 255, 0.925);
    height: 500px;
    width: 500px;
    position: absolute;
    top: 20%;
    left: 33.5%;
    display: none;
}
#randomq{
    font-family: "Audiowide", serif;
    font-weight: bold;
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.modal-header h1{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
#addCategs{
    width: 160px;
}
#next{
    width: 100px;
}